@using CarRentalSystem.Application.DTOs;
@model ChangePasswordDTO
<form method="post" asp-controller="aCCOUNT" asp-action="ChangePassword" >
    <div class="form-group">
        <span class="fa fa-envelope"></span>
        <input type="text" placeholder="Old password" asp-for="@Model.OldPassword" />
    </div>

    <div class="form-group">
        <span class="fa fa-envelope"></span>
        <input type="text" placeholder="new password" asp-for="@Model.NewPassword" />
    </div>
    <div class="form-group">
        <span class="fa fa-envelope"></span>
        <input type="text" placeholder="Confirm password" asp-for="@Model.ConfirmPassword" />
    </div>
   
  
   

    <button type="submit" name="addVehicle">Change password<span class="fa fa-arrow-circle-right px-half"></span></button>

</form>