@{
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}


<section id="overview" class="left-margin-container">
    <div class="container overview-container">
        <div class="items">
            <div class="item">
                <div class="left-icon">
                    <span class="lnr lnr-layers bluish-color"></span>
                    <span class="bold-text">1500</span>
                </div>
                <div class="right-text">
                    <p>Products</p>
                    <a href="#">Visit &nbsp;<i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="item">
                <div class="left-icon">
                    <span class="lnr lnr-users redish-color"></span>
                    <span class="bold-text">2000</span>
                </div>
                <div class="right-text">
                    <p>Members</p>
                    <a href="#">Visit &nbsp;<i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="item">
                <div class="left-icon">
                    <span class="lnr lnr-book greenish-color"></span>
                    <span class="bold-text">1200</span>
                </div>
                <div class="right-text">
                    <p>Blogs</p>
                    <a href="#">Visit &nbsp;<i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="item">
                <div class="left-icon">
                    <span class="lnr lnr-apartment orange-color"></span>
                    <span class="bold-text">20</span>
                </div>
                <div class="right-text">
                    <p>Marketplaces</p>
                    <a href="#">Visit &nbsp;<i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>