@{
    ViewData["Title"] = "Home Page";
}



<!-- section: hero -->
<section id="hero">
    <div class="container hero-container px-1">
        <div class="text-container">
            <h2 class="hero-title">Search and Find<br /> your best car rental <br /> with easy way</h2>
            <p class="short-description">
                Drive performance and your cross-functional collaboration with <br />
                easy-to-use dashboards, data visualizations, and automated <br />
                insights in one click.
            </p>
            <div class="hero-links">
                <a href="#">Booking now <span class="fa fa-phone-alt px-half font-sm"></span></a>
            </div>
        </div>
        <div class="img-container">
            <img src="~/assets/images/hero.webp" alt="">
        </div>
    </div>
</section>

<!-- section: logos -->
<section id="logos" class="my-4">
    <div class="container logos-container px-1">
        <img src="~/assets/logos/logo-1.png" alt="">
        <img src="~/assets/logos/logo-2.png" alt="">
        <img src="~/assets/logos/logo-3.png" alt="">
        <img src="~/assets/logos/logo-4.png" alt="">
        <img src="~/assets/logos/logo-5.png" alt="">
        <img src="~/assets/logos/logo-6.png" alt="">
        <img src="~/assets/logos/logo-7.png" alt="">
    </div>
</section>

<!-- section: about-us -->
<section id="about-us" class="my-4">
    <div class="container about-us-container px-1">
        <!-- image-container -->
        <div class="img-container">
            <img src="~/assets/images/about-image.jpg" alt="">
        </div>
        <div class="text-container">
            <b class="title">About Us</b>
            <h3 class="short-title py-1">More than 150+ special <br /> collection cars</h3>
            <p class="description">
                Get the car of your dreams with the installments of your
                choice. There are various attractive offers from Moladin through
                our collaboration with various trusted leasing partners.
            </p>
            <a href="#" class="see-all-btn ">See all cars <span class="fa fa-arrow-circle-right px-half"></span></a>
        </div>
    </div>
</section>

<!-- section: our-service -->
<section id="our-service" class="my-4">
    <div class="container our-service-container px-1">
        <b class="py-1">Our Service</b>
        <h4 class="short-description">We have best service <br /> for the rent cars</h4>
        <p class="py-1 description-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate quisquam dignissimos tempore illo quos asperiores modi explicabo iste dicta dolores.</p>
        <div class="services-cards">
            <div class="card">
                <div class="img-container">
                    <img src="~/assets/icons/service-icon-1.png" alt="">
                </div>
                <div class="text-container">
                    <p>Quality Choice</p>
                    <p>
                        Search from a wide selection of <br />
                        cars curated by Renty partners <br />
                        with fast and easy way.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="img-container">
                    <img src="~/assets/icons/service-icon-2.png" alt="">
                </div>
                <div class="text-container">
                    <p>Quality Choice</p>
                    <p>
                        Search from a wide selection of <br />
                        cars curated by Renty partners <br />
                        with fast and easy way.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="img-container">
                    <img src="~/assets/icons/service-icon-3.png" alt="">
                </div>
                <div class="text-container">
                    <p>Quality Choice</p>
                    <p>
                        Search from a wide selection of <br />
                        cars curated by Renty partners <br />
                        with fast and easy way.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- section: collection -->
<section id="collection" class="my-4">
    <div class="container collection-container px-1">
        <b class="collection-title">Collection</b>
        <h5 class="sub-heading">Our Collection Cars</h5>
        <div class="car-collections">
            <div class="car">
                <div class="img-container">
                    <img src="~/assets//images/car-1.jpg" alt="">
                </div>
                <div class="price-and-city">
                    <div class="price">
                        <span class="fa fa-dollar-sign"></span>
                        80,59 / days
                    </div>
                    <div class="city">
                        <span class="fa fa-map-marker-alt"></span>
                        Jakarta
                    </div>
                </div>
                <div class="car-name">
                    Lamborghini Red 2021
                </div>
                <a href="#" class="btn booking">Booking now <span class="fa fa-phone-alt"></span></a>
            </div>
            <div class="car">
                <div class="img-container">
                    <img src="~/assets//images/car-2.jpg" alt="">
                </div>
                <div class="price-and-city">
                    <div class="price">
                        <span class="fa fa-dollar-sign"></span>
                        80,59 / days
                    </div>
                    <div class="city">
                        <span class="fa fa-map-marker-alt"></span>
                        Jakarta
                    </div>
                </div>
                <div class="car-name">
                    Lamborghini Red 2021
                </div>
                <a href="#" class="btn">Booking now <span class="fa fa-phone-alt"></span></a>
            </div>
            <div class="car">
                <div class="img-container">
                    <img src="~/assets//images/car-3.jpg" alt="">
                </div>
                <div class="price-and-city">
                    <div class="price">
                        <span class="fa fa-dollar-sign"></span>
                        80,59 / days
                    </div>
                    <div class="city">
                        <span class="fa fa-map-marker-alt"></span>
                        Jakarta
                    </div>
                </div>
                <div class="car-name">
                    Lamborghini Red 2021
                </div>
                <a href="#" class="btn">Booking now <span class="fa fa-phone-alt"></span></a>
            </div>
            <div class="car">
                <div class="img-container">
                    <img src="~/assets//images/car-4.jpg" alt="">
                </div>
                <div class="price-and-city">
                    <div class="price">
                        <span class="fa fa-dollar-sign"></span>
                        80,59 / days
                    </div>
                    <div class="city">
                        <span class="fa fa-map-marker-alt"></span>
                        Jakarta
                    </div>
                </div>
                <div class="car-name">
                    Lamborghini Red 2021
                </div>
                <a href="#" class="btn">Booking now <span class="fa fa-phone-alt"></span></a>
            </div>
            <div class="car">
                <div class="img-container">
                    <img src="~/assets//images/car-5.jpg" alt="">
                </div>
                <div class="price-and-city">
                    <div class="price">
                        <span class="fa fa-dollar-sign"></span>
                        80,59 / days
                    </div>
                    <div class="city">
                        <span class="fa fa-map-marker-alt"></span>
                        Jakarta
                    </div>
                </div>
                <div class="car-name">
                    Lamborghini Red 2021
                </div>
                <a href="#" class="btn">Booking now <span class="fa fa-phone-alt"></span></a>
            </div>
            <div class="car">
                <div class="img-container">
                    <img src="~/assets//images/car-6.jpg" alt="">
                </div>
                <div class="price-and-city">
                    <div class="price">
                        <span class="fa fa-dollar-sign"></span>
                        80,59 / days
                    </div>
                    <div class="city">
                        <span class="fa fa-map-marker-alt"></span>
                        Jakarta
                    </div>
                </div>
                <div class="car-name">
                    Lamborghini Red 2021
                </div>
                <a href="#" class="btn">Booking now <span class="fa fa-phone-alt"></span></a>
            </div>
        </div>
        <a href="#" class="car-r-primary">See all cars <span class="fa fa-arrow-right"></span></a>
    </div>
</section>